@import "tailwindcss";
* {
        margin: 0px;
        box-sizing: border-box;
       }
       
       #navbar {
            border-bottom: 2px solid black;
            display: flex;
            
            justify-content: space-between;
            align-items: center;
            width: 100vw;
            background-color: white;
            padding: 0px 40px;

        }


        #nav-menu {
            display: flex; 
            list-style: none;
            gap: 35px;
            font-size: 20px;
            text-decoration: none;
            font-family: 'Times New Roman', Times, serif;
        }

        #nav-menu li a {
            text-decoration: none;
            color: black;
        }

        #belakang {
            
            height: 60vh;
        }

        #about {
            background-color: gray;
            background-size: auto;
            
        }